.FirstList {
    list-style: none;
}

#Title {
    font-size: 30px;
    text-align: center;
}                                        /*The theme of the app is using the colors red, dark red and white*/
.box{
    text-align: center;
}
.start{
    text-align: center;
}


/*************************************************Global Styling*******************************************************/
body{
    font-family: sans-serif;
}
h1{
    position:relative;
    font-weight: bolder;
    text-align: center;
    font-size:57px;
    background: -webkit-linear-gradient(red, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
h2{
    text-align: center;
    font-size: 40px;
}
hr{
    background: -webkit-linear-gradient(red, darkred);
    width:100%;
    height:135px;
}
/**********************************************************************************************************************/


/*************************************************Buttons**************************************************************/
input[type=text], select {
    height: 86px;
    width: 542px;
    padding: 12px 20px;                             /*<-----This makes the input bar for the username cleaner*/
    margin-left:22%;
    text-align: center;
    border: 1px solid #75696c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:45px;
}

input[type=button] {
    font-size:35px;
    background: -webkit-linear-gradient(red, darkred);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background: -webkit-linear-gradient(firebrick, darkred);
}
#savebutton{
    margin-top: 90px;
    margin-left:45%;
}
#start{
    margin-top: 90px;
    height: 86px;
    width: 542px;
    margin-left:215px;
}
#skip{
    margin-left:45%;
    margin-top: 50px;
}
#boolF{

    margin-left: 38%;
}
#boolT{
    padding-left:10px;
    padding-right:10px;
}
/**********************************************************************************************************************/


/*************************************************Checkboxes***********************************************************/
#thDiv, #qDiv{
    font-size:45px;
    margin-top:90px;
}
#checkbox0{
    height:35px;
    width:35px;
}
#checkbox1{
    height:35px;
    width:35px;
}
/**********************************************************************************************************************/


/*****************************************************Others***********************************************************/
#thDiv{
    text-align: center;
    color:white;
    background: -webkit-linear-gradient(red, darkred);
}

#progress{
    text-align:center;
    background: -webkit-linear-gradient(red, darkred);
    color:white;
}

#score{
    text-align: center;
    background: -webkit-linear-gradient(red, darkred);
    color:white;
}

#message{
    color: red;
    font-weight: bolder;
}

.multi{
    margin-left: 35%;
    float:left;
}

#loader {
    border: 16px solid #9b9b9b;
    border-top: 16px solid red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 43%;
    margin-top: 50%;
    display:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loaderText{
    display:none;
    font-size: 42px;
}
/**********************************************************************************************************************/


/*************************************************Leaderboard**********************************************************/
#leaderboard{
    width: 960px;
    height: 650px;
    font-size: 42px;
}
#THRanking {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#THRanking td, #THRanking th {
    border: 1px solid #ddd;
    padding: 8px;
}

#THRanking tr:nth-child(even){background-color: #d7cace;}

#THRanking tr:hover {background-color: #ddd;}

#THRanking th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: -webkit-linear-gradient(red, darkred);
    color: white;
}
/**********************************************************************************************************************/


/*************************************************Landing Page*********************************************************/
#teamlist{
    font-size:30px;
    font-weight: bold;
    color:white;
    text-decoration: underline;
}
#devteam{
    background: -webkit-linear-gradient(red, darkred);
}
ul{
    font-size:30px;
    color:white;
    margin-right: 240px;
}
p{
    /*font-size:42px;*/
    margin-bottom:55px;
    text-align:center;
}
#firstparagraph{
    margin-top: 10%;
}
#HomeStart{
    margin-left:40%;
}
/********************Pictures********************/
#twitter{
    margin-left:87%;
    margin-top:-15%;
    width:100px;
    position:absolute;

}
#facebook{
    margin-left:75%;
    margin-top:-17%;
    width:125px;
    position:absolute;
}
#android{
    margin-left:38%;
}
#treasure{
    width:420px;
    margin-left: 305px;
    margin-top: 60px;
}

/*************************************************/
/**********************************************************************************************************************/



